xml/difensori.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="difensori">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="difensore" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID_giocatore" type="xs:int"/>
              <xs:element name="gol_fatti" type="xs:int"/>
              <xs:element name="assist" type="xs:int"/>
              <xs:element name="ammonizioni" type="xs:int"/>
              <xs:element name="espulsioni" type="xs:int"/>
              <xs:element name="ruolo">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="centrale"/>
                    <xs:enumeration value="terzino"/>
                    <xs:enumeration value="braccetto"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>